<app-navbar></app-navbar>

<!-- About Section -->
<section class="about-section">
  <h1 class="header">How It Started</h1>
  <p class="about-text">
    Welcome to the Northeastern Ticket Resale Hub – a platform created by Northeastern students, for Northeastern students. Founded by Charlie, John, Ripan, and Aryaman, our goal is to make ticket reselling safe, simple, and accessible for the entire Northeastern community.
  </p>
  <p class="about-text">
    As students ourselves, we understand the hassle of finding trustworthy sources for concert, event, and sports tickets, or selling unused tickets without excessive fees or scams. Our platform provides a streamlined marketplace exclusively for Northeastern students.
  </p>
  <a href="/join" class="button">Join the Community</a>
</section>

<!-- Meet the Team Section -->
<section class="team-section">
  <!-- Meet the Team Section -->
<section class="team-section">
  <h2 class="team-header">Meet the Team</h2>

  <div class="team-member">
    <a href="https://www.linkedin.com/in/charles-heese/" target="_blank">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQFeupWo2IMswQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1715224678066?e=1736380800&v=beta&t=6SeJ97Bo9NnIOJo9mlL5PZkdDZf56Vloev-zXzjcp8Y" alt="Charlie" class="team-photo">
    </a>
    <div class="team-info">
      <h3 class="team-name">Charles Heese</h3>
      <p class="team-description">Charles Heese is a driven Computer Science student at Northeastern University, with aspirations to work with Artificial Intelligence. Skilled in programming in languages such as Java, Python, and SQL, Charles is currently working on multiple projects. A member of Pi Kappa Phi Fraternity, he combines his technical skills with a commitment to service through a multitude of volunteering experiences. He has a passion for ice hockey, history, and helping his community. </p>
    </div>
  </div>

  <div class="team-member">
    <a href="https://www.linkedin.com/in/john-alexander-santosa-8a1284296/" target="_blank">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQHLdIn1ZIc3mA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1730675239232?e=1736985600&v=beta&t=q5voa6BwT0c-MnBiMSD2h89tRq80nOBmK45ci5-KWqw" alt="John" class="team-photo">
    </a>
    <div class="team-info">
      <h3 class="team-name">John Santosa</h3>
      <p class="team-description">John Santosa is a motivated Computer Science student at Northeastern University who comes from Jakarta, Indonesia. He aims to make his mark in the software industry and is proficient in languages like Python, Java, SQL, and TypeScript. John is actively involved in various projects showcasing his coding skills and problem-solving abilities. John is an active volunteer and is part of organizations relating to his heritage. With a keen interest in EDM music, software development, fashion and travel, John brings creativity and enthusiasm to both his personal and academic endeavors. </p>
    </div>
  </div>

  <div class="team-member">
    <a href="https://www.linkedin.com/in/ripandeep-kaur-003b341b0/" target="_blank">
      <img src="https://media.licdn.com/dms/image/v2/D5603AQGVO8X4-5lhRQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1713767286005?e=1736380800&v=beta&t=QGyCqS2-kR2vgA09xtqZxBzlYhRVV8xFKQ6eKhy0VeU" alt="Ripan" class="team-photo">
    </a>
    <div class="team-info">
      <h3 class="team-name">Ripandeep Kaur</h3>
      <p class="team-description">Ripandeep Kaur is pursuing a BSCS at Northeastern University and hails from Delhi, India. She aspires to be a software developer and has experience working in Java, Python, SQL, and JavaScript. Ripandeep is actively involved in personal projects and enjoys competing in hackathons to increase her technical prowess. Alongside her academic pursuits she is an enjoyer of running, community service, and soccer. Ripandeep brings a global perspective, great technical skills and creativity to all of her pursuits.</p>
    </div>
  </div>

  <div class="team-member">
    <a href="https://www.linkedin.com/in/aryaman-wade-43a7a1245/" target="_blank">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQHl-xE_J4T7fw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1724923590449?e=1736380800&v=beta&t=UH2ySDU-0CV2UdWxYbclltsWgw0-iHx9q2pWKpxVGE8" alt="Aryaman" class="team-photo">
    </a>
    <div class="team-info">
      <h3 class="team-name">Aryaman Wade</h3>
      <p class="team-description">Aryaman Wade is a Computer Science and Math student at Northeastern University from Mumbai, India, with aspirations to build a career in quantitative analysis. Skilled in Python, SQL, Java, and Racket, he combines his technical expertise with a passion for giving back to his community. As the Philanthropy Chair of Pi Kappa Phi and the Fundraising Chair for Relay for Life, Aryaman leads initiatives to support impactful causes. He is also an active volunteer with Partners for Youth with Disabilities, where he contributes to empowering young people. An enthusiast of music, fashion, and exercise, Aryaman brings creativity, dedication, and a global perspective to all his pursuits.






      </p>
    </div>
