<!-- home.component.html -->

<!-- Navbar Component -->
<app-navbar></app-navbar>

<!-- Main Content Section -->
<main class="main-content">
  <!-- Main Title -->
  <h1 class="main-title">Buy or Sell</h1>
  
  <!-- Subheader -->
  <h2 class="subheader">Tickets</h2>

  <!-- Page Separator -->
  <hr class="page-separator" />

  <!-- Events Section -->
  <section class="events-section">
    <p class="intro-text">Look at the upcoming Events here!!!</p>
    <button class="cta-button">
      <a [routerLink]="['/events']"  class="nav-link">Let us go</a>
    </button>
  </section>
</main>
